[package]
authors = ["Dean Karn <dean.karn@gmail.com>"]
description = "Segment analytics client for Rust https://segment.com/docs/libraries/rust"
edition = "2018"
license = "MIT"
name = "analytics"
version = "0.1.0"

[[bin]]
name = "analytics"
path = "src/main.rs"
required-features = ["cli"]

[[example]]
name = "server"
required-features = ["examples"]

[dependencies]
base64 = "0.10"
crossbeam-channel = "0.3.8"
failure = "0.1.5"
futures = "0.1.27"
reqwest = "0.9"
serde_json = "1.0.39"
url = "1.7.2"

[dependencies.actix]
optional = true
version = "0.7"

[dependencies.actix-web]
optional = true
version = "1.0.2"

[dependencies.chrono]
features = ["serde"]
version = "0.4.6"

[dependencies.clap]
optional = true
version = "2.33"

[dependencies.serde]
features = ["derive"]
version = "1.0.93"

[dependencies.uuid]
features = [
    "serde",
    "v4",
]
version = "0.7.4"

[features]
cli = ["clap"]
examples = [
    "actix",
    "actix-web",
]
